@tailwind base;
@tailwind components;
@tailwind utilities;



.font-sil {
    font-family: "Shadows Into Light", cursive;   
}

.font-cursive{
    font-family: "pacifico";
}
.font-fast {
    font-family: "Permanent Marker", cursive;
}

.font-anta {
    font-family: "Anta", sans-serif;
    font-style: italic;
    font-weight: 900;
}

.font-micro {
    font-family: "Micro 5", sans-serif;
    font-style: italic;
}

.font-abril{
    font-family: "Abril Fatface";
    src: url(./assets/AbrilFatface-Regular.otf) format('opentype');
}

.font-orbitron{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
}

.font-lato{
    font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
}

.parent{
    position: relative;
    width: 100%;    
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.child{
    width: 100%;
    height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
}





.fade-in-content{
    scale: 0.5;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: 30vh ;
    animation-range-end: 80vh;
}

.stack-img {
    height: 100px;
    animation-range-start: 30vh;
    animation-range-end: 45vh;
    translate: 0 100px 0;
    
}

@keyframes fade-in {
    to {scale:1; opacity: 1; translate: 0 0 0;}
}

.header-button:hover{
    scale:1.2;
    color: rgb(65, 65, 65);
    text-shadow: grey 1px 0 10px;
}

.slick-slide > div{
    transform: scale(0.8);
    transition: transform .3s cubic-bezier(.4, 0, .2, 1);
}

.slick-center>div {
    transform: scale(1);
}

.vertical-timeline-element-content{
    background-color: #000000;
}




:root{
    --clr1: #212534;
    --clr2: #073438;
    --clr3: #5ddcff;
    --clr4: #3c67e3;
    --clr5: #4e00c2;
    --clr6: #e2acfb;
    --clr7: #a45cfb;
    --clr8: #713ae9;
}


.spin-border-button{

   background: var(--clr1); 
   border-radius: .85rem;
   position: relative;
}
.spin-border-img{

   background: var(--clr1); 
   border-radius: 50%;
   position: relative;
}

.spin-border {

    background: var(--clr1);
    border-radius: 2.5rem;
    position: relative;
    color: white;
}

body{
    background: #050016;
}
.spin-border::after, .spin-border::before, 
.spin-border-button::before, .spin-border-button::after,
.spin-border-img::after, .spin-border-img::before{
    content: "";
    position: absolute;
    z-index: -200;
    border-radius: inherit;
    background: conic-gradient( from var(--gradient-angle), 
        var(--clr3), var(--clr7), var(--clr8), var(--clr7), var(--clr3));
    animation: rotation 4s linear infinite;
}
.spin-border::after, .spin-border::before{
    inset: -.45rem;
}
.spin-border-button::after, .spin-border-button::before, 
.spin-border-img::before, .spin-border-img::after{
    inset: -.2rem;
}
.spin-border::after, .spin-border-button::after, .spin-border-img::after{
    filter: blur(1rem);
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0%{--gradient-angle: 0deg}
    100%{--gradient-angle: 360deg}
}

.glow {
    filter: drop-shadow(0 0 10px var(--clr6));
    filter: drop-shadow(0 0 20px var(--clr7));
}
.hover-glow:hover{
    filter: drop-shadow(0 0 100px var(--clr6));
    filter: drop-shadow(0 0 200px var(--clr7));

}

/* fooer-shadow{
    --tw-shadow: 0 -1px -2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 -1px -2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), 
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
} */

footer{
    box-shadow:  20px 45px -3px #ffff,
    0 4px 6px -4px #ffff;
}

.docs-container {
  width: 1300px;
  margin: 0 auto;
  display: flex;
}

main {
    color: white;
  max-width: 900px;
  padding: 16px;
  border-radius: 8px;
  margin-left: 8px;
box-shadow: 0px 0px 20px var(--clr8);
}

nav {
  width: 400px;
  min-width: 220px;
  padding: 16px;
  margin: 8px;
  align-self: flex-start;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 48px;
  max-height: calc(100vh - 70px);
  overflow: auto;
}

@media screen and (max-width: 900px) {
  nav {
    display: none;
  }
}

.TOC-bullet {
  color: #A6ACC9;
  text-decoration: none;
}

/* li.active > a {
  color: white;
} */

.TOC-bullet:hover {
  color: white;
}

.doc-h2, .doc-h3 {
    padding-top: 70px;
}

.first-h2 {
    padding-top: 4px;
}

.para {
    padding-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
}

.doc-h2, .first-h2 {
    font-size: 1.875rem;
    line-height: 4rem;
    font-weight: 700;
    margin-top: 32px;
}

.doc-h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 16px;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #07012a;
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(139, 139, 165);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid black;
    /* creates padding around scroll thumb */
}

.author-img {
    height: 300px;
    width: 300px;
}

.resizer {
    background: #444857;
    height: 100%;
    width: 14px;

    cursor: col-resize;
    position: absolute;

    flex-shrink: 0;
    cursor: col-resize;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    
}

.resizer::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 15px;
    border-inline: 1px solid #fff;
}

.resizable {
    position: relative;

    border: 1px solid rgb(24, 0, 84);
    border-radius: 0.25rem;
    
}